<launch>
  <node name="gmapping"
        pkg="gmapping"
        type="slam_gmapping"
        clear_params="true">
    <rosparam command="load" 
              file="$(find leo_navigation)/config/slam_gmapping.yaml"/>
  </node>
  <node name="depthimage_to_laserscan"
    pkg="depthimage_to_laserscan"
    type="depthimage_to_laserscan">
    <param name="output_frame_id" value="base_link"/>
    <remap from="image" to="zed2/depth/depth_registered"/>
  </node>
  <!-- <node name="pointcloud_to_laserscan_node"
    pkg="pointcloud_to_laserscan"
    type="pointcloud_to_laserscan_node">
    <remap from="cloud_in" to="zed2/depth/depth_registered"/>
    <param name="target_frame" value="base_link"/>
  </node> -->
</launch>
